**Instructions**

* cell clicked -> esc key -> m : markdown editor
* cell clicked -> esc key -> dd : delete cell
* cell clicked -> alt + enter -> result and next new cell
* cell clicked -> ctrl + enter -> you can see result of the cell

## Basic Part 1

### Q1

In [1]:
sample_string = "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [2]:
print(sample_string)

Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are

In [3]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

### Q4

In [4]:
import math

In [5]:
math.pi

3.141592653589793

In [6]:
# not function
r = float(input('Enter radius: ')) # r is radius
area = math.pi * (r**2)

Enter radius: 1.1

In [7]:
print(' r = ', r)
print('Area = ', area)

 r =  1.1
Area =  3.8013271108436504

In [8]:
# function
def circleArea(r):
    area = math.pi * (r**2)
    print('r = ', r)
    print('Area = ', area)

In [9]:
# call the function circleArea()
circleArea(1.1)

r =  1.1
Area =  3.8013271108436504

### Q5

In [11]:
# not function
first_name = input('Enter first name: ')
last_name = input('Enter last name: ')

Enter first name: Danielle
Enter last name: Hong

In [12]:
print(last_name+ ' '+first_name)

Hong Danielle

In [13]:
# function
def reverse_name(first_name, last_name):
    print(last_name+ ' ' +first_name)

In [14]:
# call the function reverse_name()
reverse_name('Danielle', 'Hong')

Hong Danielle

### Q7

In [21]:
filename = input('Enter whole filename:')

Enter whole filename:test.py

In [22]:
filename.index('.')

4

In [23]:
point_index = filename.index('.')

In [24]:
extension = filename[ point_index + 1:]

In [25]:
print('Output: ', extension)

Output:  py

### Q10

In [27]:
n = input('Enter n: ') # n is character

Enter n: 5

In [28]:
type(n)

str

In [29]:
nn = n + n #'5'+'5' => '55'
print(nn)

55

In [30]:
nnn = n + n + n # '5'+'5'+'5'=>'555'
print(nnn)

555

In [31]:
result = int(n)+int(nn)+int(nnn)
print('Expected Result:', result)

Expected Result: 615

### Q12

In [32]:
from datetime import date

In [33]:
import calendar

In [34]:
date.today()

datetime.date(2019, 7, 9)

In [35]:
# 이번 달
thismonth = date.today().month

In [36]:
# 이번 년도
thisyear = date.today().year

In [37]:
print(calendar.month(thisyear, thismonth))

     July 2019
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31